* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

body {
  background-image: url(../images/background-img.webp);
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  display: flex;
}

a {
  color: #045970;
  text-decoration: none;
}

form {
  row-gap: 15px;
  display: flex;
  flex-direction: column;
}

form input,
form select,
.submit-btn {
  padding: 10px 10px;
}

form input,
form select {
  border: 0;
  border-bottom: 2px solid;
}

form select {
  font-family: inherit;
  font-size: inherit;
  color: #555;
  outline: 0;
}

.form-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height: 100vh;
  width: 35%;
  background-color: #fefefe;
  margin-left: 50px;
}

.logo-container img {
  width: 110px;
  height: 110px;
}

.title {
  color: #045970;
  font-size: 2.4em;
  font-weight: 600;
}

.submit-btn {
  background-color: #045970;
  width: 100%;
  border: 0;
  color: #fefefe;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  margin-top: 10px;
}

.redirect-options {
  margin-top: 20px;
}

form input:focus {
  outline: 0;
  letter-spacing: 2px;
}

form input:not(:placeholder-shown) {
  border-bottom-color: #045970;
}

button:hover {
  cursor: pointer;
}
