<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/main.css}" />

    <title>Tela de Login</title>
  </head>
  <body>
    <div class="form-container">
      <form th:action="@{/recoverpassword}" method="post">
        <div class="logo-container">
          <img th:src="@{/images/logo-elite.jpeg}" alt="Logo Las Encinas" />
        </div>
        <h1 class="title">Recuperar senha</h1>
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Email"
          required
        />
        <div class="button-container">
          <button class="submit-btn" type="submit">Enviar código</button>
        </div>
        <p class="redirect-options">
          Ainda não tem cadastro? <br />
          <a href="/login">Login</a> |
          <a href="/register">Cadastre-se</a>
        </p>
      </form>
    </div>
  </body>
</html>
