<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registro</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body></body>
<div class="form-container">
    <div class="logo-container">
        <img th:src="@{/images/logo-elite.jpeg}" alt="Brasão Las Ensinãs">
    </div>

    <h2 class="title">Crie sua conta</h2>
    
        <form th:action="@{/register}" method="post">
            <input type="text" name="nome" placeholder="Nome completo" required>
            <input type="email" name="email" placeholder="E-mail" required>
            <input type="texto" name="matricula" placeholder="Matrícula" required>
            <select id="curso" name="curso" required>
                <option value="" disabled selected>Curso</option>
                <option value="direito">Direito</option>
                <option value="engenharia de software">Engenharia de Software</option>
                <option value="cinema">Cinema</option>
            </select>
            <input type="password" name="senha" placeholder="Senha" required>

            <div class="button-container">
                <button class="submit-btn" type="submit">Registrar</button>
            </div>
        </form>

        <div class="redirect-options">
            Já possui conta? <a th:href="@{/login}">Faça login</a>
        </div>
</div>
</body>
</html>